* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d8a7a3;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
}

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    margin: 10px 0;
    color: white;
    text-align: center;
}

/* BOXES */

.box {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #f8d6cd;
}

.box-3 {
    background-color: #f0d5c0;
}

.box-5 {
    background-color: #e4d9d3;
}

.box-ex {
    background-color: #fff;
}