* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    background-color: #d8a7a3;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
}

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text_gray {
    color: gray
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;
}

/* BOXES */

.box {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #f8d6cd;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-3 {
    background-color: #f0d5c0;
}

.box-5 {
    background-color: #e4d9d3;
}

.box-ex {
    background-color: #fffffA;
}